" idea 插件设置 surround
set surround

" idea 插件设置 easymotion
set easymotion
set NERDTree

source ~/.vimrc

" 文件内移动
" 移动: 下一个方法
nmap gj <action>(MethodDown)
" 移动: 上一个方法
nmap gk <action>(MethodUp)
" 跳转: 返回
nmap gh <action>(Back)
" 跳转: 前进
nmap gl <action>(Forward)

" 跳转: 跳转定义
nmap gd <action>(GotoDeclaration)
" 跳转: 跳转用法
nmap gu <action>(GotoDeclaration)
" 跳转: 跳转测试
nmap gt <action>(GotoTest)
" 跳转: 跳转下一个错误
nmap ge <action>(GotoNextError)
" 跳转: 跳转实现
nmap ga <action>(GotoImplementation)
" 跳转: 跳转文件在目录中的位置
nmap gf <action>(SelectInProjectView)

" 显示: 文件结构
nmap <leader>o <action>(FileStructurePopup)
nmap <leader>s <action>(ActivateStructureToolWindow)
nmap <leader>b <action>(ActivateBookmarksToolWindow)

" 显示: 参数信息
nmap <leader>p <action>(ParameterInfo)
" 显示: 文档/描述
nmap <leader>d <action>(QuickJavaDoc)
" 显示: 显示快速实现
nmap <leader>i <action>(QuickImplementations)
" 显示: 代码补全 > 基本 / vscode: 触发建议 / command/ctrl + i
" nmap <leader>i <action>(CodeCompletion)
" 显示: 代码 > 生成
nmap <leader>g <action>(Generate)
" 显示: 其他 > 显示上下文操作
nmap <leader>e <action>(ShowIntentionActions)
" 显示: 折叠 > 折叠代码块
nmap <leader>j <action>(ExpandRegion)
" 显示: 折叠 > 折叠代码块
nmap <leader>k <action>(CollapseRegion)
" 列选择模式
" noremap sv <C-v>